/*
    SLOType v0.6 alpha. 2021-11-24. Cee credits in main file.
    You may and should abuse this code, but remember to keep your code clean kids! ;)
*/

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/agrandir.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-stretch: 1 999;
}

html,
body,
h1,
h2 {
  margin: 0;
  font-family: "Agrandir";
  font-weight: 40;
}

h1 {
  font-weight: 700;
}

#page {
  padding: 0;
  overflow: auto;
}

header {
  display: block;
  position: sticky;
  top: 0;
  width: 90%;
  color: white;
  background-color: black;
  padding: 5vh 5vw;
}

header h1 {
  display: block;
  position: relative;
  background-color: black;
  display: inline-block;
}

header {
  height: 10%;
  max-height: 2vh;
}

header i {
  width: 1em;
}

nav {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  height: 80%;
  width: 50%;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 10;
}

header a {
  color: white;
}

#menu {
  font-size: 2em;
  position: relative;
  display: inline-block;
  padding-right: 0.25em;
}

#actions i {
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  float: right;
  padding: 0 0.5em;
}

ul {
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 1em 0 0 0;
}

ul li {
  display: block;
  margin-right: 2em;
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1.25em;
}

nav li:hover,
nav li:active {
  color: red;
}

main {
  display: block;
  position: relative;

  padding: 1em 3vw;
  margin-bottom: 15vh;
  overflow: auto;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  margin-bottom: 0;
  font-variation-settings: "wdth" 50;
}

section p {
  font-size: 2em;
  margin: 0.5em;
  font-weight: 700;
  font-variation-settings: "wdth" 150;
  margin-top: 0;
  padding-right: 1.3em;
}

.lock {
  position: absolute;
  display: inline-block;
  float: right;
  right: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: lightgray;
}

section:hover {
  background-color: lightgrey;
}

section:hover .lock {
  color: gray;
}

.lock:hover {
  color: red !important;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  background-color: yellow;
  width: 100%;
}

#rand {
  display: block;
  position: fixed;

  bottom: 0;
  background-color: red;
  padding: 3vh 0 1vh;
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
  height: 8vh;
  font-size: 1.5em;
  z-index: 20;
}

#code {
  display: block;
  position: absolute;
  bottom: 10vh;

  padding-left: 1em;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  margin-bottom: 0;
  font-variation-settings: "wdth" 50;
}

#myCode {
  font-size: 0.8em;
  font-variation-settings: "wght" 400;
}

#actions {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 1.5em;
}
